<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="{{ site.url }}/assets/js/scripts.min.js"></script>
{% if site.owner.google.analytics %}
<!-- Asynchronous Google Analytics snippet -->
<script>
  var _gaq = _gaq || [];
  var pluginUrl = 
 '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
  _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
  _gaq.push(['_setAccount', '{{ site.owner.google.analytics }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}
{% if page.comments %}
  {% include _disqus_comments.html %}
{% endif %}
{% if page.image.feature == "random walk" %}
<script>
  $( ".image-wrap > img").detach();
  $(".image-wrap").append("<span class='image-credit'>A random walk in two dimensions</span>");
  $(".image-wrap").append( "<canvas id='walk'></canvas>" );

  width = $( window ).width();
  height = 260;
  x_pos = width/2;
  y_pos = height/2;
  step = .005*width;

  var canvas = document.getElementById('walk');
  canvas.setAttribute('width', width);
  canvas.setAttribute('height', height);

  function draw(){
    if (canvas.getContext){
      var ctx = canvas.getContext('2d');
      ctx.lineWidth = 2;
      ctx.strokeStyle = "#666";
      y_step = 0;
      x_step = step*(Math.floor(Math.random() * 3) - 1);
      if (x_step === 0){
        y_step = step*(Math.floor(Math.random()*3)-1);
      }
      ctx.beginPath();
      ctx.moveTo(x_pos,y_pos);
      x_pos = x_pos+x_step;
      y_pos = y_pos+y_step;
      ctx.lineTo(x_pos, y_pos);
      ctx.stroke();
    }
  }
  
  setInterval(draw, 6);
</script>
{% endif %}