.article-wrap{
	li {
		padding: 8px; 
	}
	li>ul>li {
		padding: 2px;
	}
	a {
		color: #6799ff;
	}
	p {
		padding: 8px;
	}
}

#walk {
	width: 100%;
	height: 260px;
	-ms-interpolation-mode: bicubic;
	background: #aaa;		
}